
@font-face {
	font-family: accidental;
	src: url('fonts/accidental_presidency.ttf');
}

@font-face {
	font-family: days;
	src: url('fonts/days.otf');
}

* {
	font-family: accidental;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

header, hgroup, section, article,
footer, nav, div {
	display: block;
	margin: 0;
	padding: 0;
}

section#main-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #EFF0F1;
}

section.slide {
	border-radius: 4px;
	box-shadow: 5px 5px 20px #CCCCCC;
	background-color: #FFFFFF;
	width: 800px;
	height: 600px;
	overflow: hidden;
	margin: 20px auto;
	vertical-align: center;
	border: 1px solid #CCCCCC;

	header {
		margin-top: 100px;
		h2 {
			text-align: center;
			font-family: days;
			font-size: 1.2em;
		}
	}
	div.slide-content {
		margin: 0 auto;
		width: 80%;
	}
}

pre, code {
	font-family: courier;
}

.fullscreen {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#loading {
	width: 100%;
	height: 100%;
	margin-top: 25%;
	text-align: center;
}

.center {
	text-align: center;
}

#test-area {
	position: fixed;
	bottom: 20%;
	left: 10%;
	width: 80%;
	height: 200px;
	* {
		background-color: #0099FF;
		opacity: 60%;
	}
}